.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebarRow:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.sidebarRow:hover > .sidebarRow-icon {
    color: red;
}

.sidebarRow-icon {
    color: grey;
    font-display: large !important;
}

.sidebarRow-icon:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.sidebarRow-title {
    flex:1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

/* to make it by default the active state (red ) -- selected functionality */
.sidebarRow.selected {
    background-color: lightgrey;
    cursor: pointer;
}

.sidebarRow.selected > .sidebarRow-icon {
    color: red;
}
